{
  "extends": [
    "plugin:@typescript-eslint/recommended",

    "prettier/@typescript-eslint",
    "prettier/react",

    "plugin:prettier/recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react-hooks","@emotion"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "@emotion/jsx-import": "error",
    "@emotion/styled-import": "error",
    "@emotion/import-from-emotion": "error",
    "@emotion/no-vanilla": "error",
    "no-restricted-syntax": [
      "error",
      {
        "selector": "ExportDefaultDeclaration",
        "message": "Restricted default export, prefer named exports!"
      }
    ],
    "@typescript-eslint/explicit-function-return-type": 0,
    "react/prop-types": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/ban-types": 0
  },
  "parserOptions": {
    "sourceType": "module",
    "parser": "babel-eslint",
    "ecmaVersion": 2018
  },
  "overrides": [
    {
      "files": ["webpack.config.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": ["off"]
      }
    },
    {
      "files": [
        "*.stories.tsx"
      ],
      "rules": {
        "no-restricted-syntax": ["off"]
      }
    }
  ]
}
